body {
    text-align: center;
    margin: 0 !important;
    padding: 0 !important;
    overflow-y: hidden;
}

h1 {
    color: #901;
    font-weight: bold;
    font-size: 130%;
}

a {
    color: #b01;
}

blockquote {
    display: none;
}

.printuser a {
    margin-right: 4px;
}