name: "[check] Vercel surveillance"

on:
  schedule:
    - cron: '*/10 * * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: reserve
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
          architecture: 'x64'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Create dot env file
        run: |
          touch .env
          echo "APISERVER_DOMAIN='${{ secrets.APISERVER_DOMAIN }}'" >> .env
      - name: Check Vercel surveillance
        continue-on-error: true
        id: vercelsurveillance
        run: python vercelsurveillance.py
      - name: Show execution status
        run: echo ${{ steps.vercelsurveillance.outcome }}

      - name: Change README.md badge
        uses: benc-uk/workflow-dispatch@v1.1
        with:
          workflow: "[docs] Change readme badge"
          token: ${{ secrets.ACCESS_TOKEN_REPO }}
          inputs: '{ "type": "survive", "debug": "true" }'

      - name: "[change] Change Vercel environment And Redeploy"
        uses: benc-uk/workflow-dispatch@v1.1
        if: ${{ steps.vercelsurveillance.outcome == 'failure' }}
        with:
          workflow: "[change] Change Vercel environment And Redeploy"
          token: ${{ secrets.ACCESS_TOKEN_REPO }}

      - name: Error handling
        if: ${{ steps.vercelsurveillance.outcome == 'failure' }}
        run: |
          echo "Error handling"
          echo ${{ steps.vercelsurveillance.outcome }}
          exit 1
      
